@import '~bootstrap/scss/bootstrap';
:root {
    --white: rgb(248, 248, 255);
    --background: rgb(255, 225, 129);
    --heading: rgb(146, 121, 99);
    --text: rgb(105, 105, 105);
}

body {
    margin: 2em auto;
    font-size: 16px;
    text-align: center;
    font-family: 'Space Mono', monospace;
    background-color: var(--background);
    color: var(--text);
}

h1 {
  font-size: 48px;
//   color: #927963;
  position: relative;
}

nav {
    display: inline;
}
.change-password-form {
    // position: relative;
    // bottom: 1.8em;
    // left: 25em;
    // font-size: 1em;
    display: inline;
}

.sign-out-form {
    // position: relative;
    // left: 45em;
    display: inline;
}

.task-id {
    padding-bottom: 5px;
}