@import '~bootstrap/scss/bootstrap';
:root {
    --white: rgb(248, 248, 255);
    --background: rgb(255, 225, 129);
    --heading: rgb(146, 121, 99);
    --text: rgb(105, 105, 105);
}

$timing-function: ease-in-out;
$duration: 1s;
$delayRatio: 0.075s;
$bounceLimitKeyframe: 30%;
$bounceLimit: 50%;

h1 {
  font-size: 48px;
  color: #927963;
  position: relative;
}

body {
    margin: 2em auto;
    font-size: 16px;
    text-align: center;
    font-family: sans-serif;
    background-color: var(--background);
    color: var(--text);
}

.sign-out-form {
    position: relative;
    left: 45em;
}

.change-password-form {
    position: relative;
    bottom: 1.8em;
    left: 25em;
    font-size: 1em;
}